.message {
  line-height: 1.4;
  width: fit-content;

  &__username {
    font-weight: 500;
    font-size: 0.875rem;
    color: #ffffff;
    margin-bottom: 0.25rem;
  }

  &__content {
    padding: 0.5rem;
    color: var(--text-normal);
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3),
    0 1px 2px rgba(0, 0, 0, 0.36);
  }

  &-pending {
    opacity: 0.7;
  }

  &-status {
    font-size: 0.8em;
    color: var(--text-muted);
    margin-left: 0.5em;
  }
}
