.waiting-room {
  &__form {
    max-width: 28rem;
    width: 100%;
    background-color: var(--bg-secondary);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    color: var(--text-normal);
  }

  &__title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #ffffff;
  }
}

.form {
  &__group {
    margin-bottom: 1.5rem;
  }

  &__label {
    display: block;
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
    color: var(--interactive-normal);
  }

  &__input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    border: none;
    background-color: var(--input-background);
    color: var(--input-text);
    font-size: 1rem;
    transition: border-color .2s;
  }

  &:focus {
    outline: none;
    border-color: #4299e1;
    box-shadow: 0 0 0 3px var(--accent-hover);
  }

  &::placeholder {
    color: var(--input-placeholder);
  }
  &__button {
    width: 100%;
    background-color: var(--primary);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--accent-hover);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px var(--accent-hover);
    }
  }
}